.categoriesList {
    display: flex;
    overflow: auto hidden;
    border-bottom: 4px solid #01bcf3;

    ul{
        display: flex;
        justify-content: center;
        padding: 0 1.5em;
        list-style: none;

        li{
            outline: 3px solid  #453c67;
            background-color: white; 
            border-radius: 1px;
            margin: 0 1em;
            font-weight: bold;
            padding: 5px 1em;

            a {
                color: #453c67;
                font-size: smaller;
                font-weight: normal;
                text-decoration: none;
            }
        }

        li:hover {
            background-color: #9596be;
            a{
            
                color: white;
            }
        }
    }
}