.categoriesList {
    display: flex;
    overflow: auto hidden;
    border-bottom: 4px solid #01bcf3;
    margin:auto;
    background-color: white;
    margin:1px auto;

    ul{
        display: flex;
        justify-content: center;
        list-style: none;
        width: auto;

        li{
            border: 3px solid  #453c67;
            background-color: white; 
            border-radius: 1px;
            margin: 0 1em;
            font-weight: bold;
            padding: 5px 1.5em;
            width: auto;
            text-align: center;

            a {
                color: #453c67;
                font-size: smaller;
                font-weight: normal;
                text-decoration: none;
            }
        }

        li:hover {
            background-color: #9596be;
            a {
                color: white;
            }
        }
    }
}