.header {
    width: 100%;
    position: fixed;
    z-index: 9;
    background-color: white;

    &__nav{
        display: flex;

        &__header__icon{
            margin: 1em 1em 0 0;
            height: 5em;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 4px;
            width: 50px;
        
            img {
                color: transparent;
                width: 50px;
                height: 1%;
            }
        }
    }
}